<%= form_with model: article do |form| %>

<div>
  <%= form.label :title %><br/>
  <%= form.text_field :title %>
  <% article.errors.full_messages_for(:title).each do |message| %>
    <div><%= message %></div>
  <% end %>
</div>

<div>
  <%= form.label :description %><br/>
  <%= form.text_area :description %><br/>
  <% article.errors.full_messages_for(:description).each do |message| %>
  <div><%= message %></div>
  <% end %>
</div>

<div>
  <%= form.submit %>
</div>

<% end %>

<!-- # the above code is the same as for our form in app/views/articles/new.html.erb -->
<!-- # except all occurences of @article have been replace with article -->
<!-- # since this is a 'partial' and it is shared code -->
<!-- # best practice is not to depend on specific instance variables set by a controller action -->
<!-- # instead we will pass the article to the partial as a local variable -->
<!-- # go back to new.html.erb to use the partial via render... -->
