<h1>Article Listing</h1>
<hr>
<h2>Articles</h2>
<table>
  <thead>
    <tr>
      <th>Index</th>
      <th>Title</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
	<td><%= article.id %></td>
	<td><%= link_to article.title, article %></td>
	<td><%= article.description %></td>
	<td>
	  <%= link_to "Edit", edit_article_path(article) %>
	  <%= link_to "Destroy", article_path(article),
	      data: {turbo_method: :delete,
	      turbo_confirm: "Delete Article #{article.id} \n#{article.title}? \nAre you sure?" } %><br/>
        </td>
      </tr>   
    <% end %>
  </tbody>
</table>
<p><br/></br/><%= link_to "New Article", new_article_path %></p>
