<h1>show article <%= @article.id %> details</h1>
<hr>

<p><strong>Title: </strong><%= @article.title %></p>
<p><strong>Description: </strong><%= @article.description %></p>

<div>
  <%= link_to "Edit this article", edit_article_path(@article) %><br/>
  <%= link_to "Destroy", article_path(@article), data: {turbo_method: :delete, turbo_confirm: "Delete Article #{@article.id}? Are you sure?" } %><br/>
  <%= link_to "Article Listing", articles_path() %>
</div>
