<h1>show article <%= @article.id %> details</h1>
<hr>

<p><strong>Title: </strong><%= @article.title %></p>
<p><strong>Description: </strong><%= @article.description %></p>

<div>
  <%= link_to "Edit", edit_article_path(@article) %> |
  <%= link_to "Delete", article_path(@article), data: {turbo_method: :delete, turbo_confirm: "Delete Article #{@article.id} - #{@article.title}? \nAre you sure?" } %> |
  <%= link_to "Article Listings", articles_path() %>
</div>
