<!DOCTYPE html>
<html>
  <head>
    <title>Tgrump</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <!-- going to replace below with just the call to the partial... -->
    <!-- going to turn flash message into partial just to demonstrate how it is done -->
    <!-- <% flash.each do |name, msg| %> -->
      <!-- <%= msg %> -->
    <!-- <% end %> -->
    <%= render 'layouts/messages' %>
    
    <%= yield %>
  </body>
</html>
